.register-background {
  width: 100%;
  background-image: url("register-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.register-row {
  margin: 0;
}

.register {
  padding: 20px;
  h2 {
    margin-top: 100px;
    text-align: center;
    color: aliceblue;
    @media (max-width: 961px) {
      margin-top: 50px;
    }
  }

  h3 {
    color: aliceblue;
    margin-top: 7px;
  }

  .register-button-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .birthday-form {
    display: flex;
    align-items: flex-start;
    @media (max-width: 321px) {
      margin-right: 110px;
    }

    .birthday-header {
      margin-right: 10px;
    }
  }
  .modal-content {
    .modal-header {
      color: #7c32ff;
      margin-top: 20px;
    }
  }
}
