nav {
  background: transparent;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;

  .nav-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-menu {
    padding: 0 10px;
    height: 100%;
    justify-content: space-between;
  }

  .nav-categories {
    .home {
      @media (max-width: 500px) {
        display: none;
      }
    }
  }

  .nav-right {
    .sign-in {
      @media (max-width: 500px) {
        display: none;
      }
    }
  }
}

.app-logo {
  width: 4.5rem;
  height: 100%;
  svg {
    g {
      transition: all 0.5s;
    }
  }
}

.logo-scrolled {
  svg {
    g {
      transition: all 0.5s;
      fill: white;
    }
  }
}
