.interested-categories {
  width: 80%;
  text-align: center;
  .category-image-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    max-height: 600px;
    overflow-x: scroll;
    @media (max-width: 600px) {
      img {
        width: 145px;
        height: 145px;
      }
    }
    @media (max-width: 432px) {
      img {
        width: 105px;
        height: 105px;
      }
    }
    @media (max-width: 332px) {
      img {
        width: 100px;
        height: 100px;
      }
    }
    @media (max-width: 320px) {
      img {
        width: 95px;
        height: 95px;
      }
    }
  }
  h4 {
    color: aliceblue;
  }
  .category-button-wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: 432px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
