.user-register-detail-background {
  background-image: url("user-register-details.jpg");
  height: 900px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.user-register-detail-row {
  margin: 0;
}

.user-register-detail {
  padding: 20px;
  h2 {
    margin-top: 100px;
    text-align: center;
    color: aliceblue;
    @media (max-width: 961px) {
      margin-top: 50px;
    }
  }

  h3 {
    color: aliceblue;
    margin-top: 7px;
    text-align: center;
  }

  button {
    margin-top: 10px;
  }

  .interested-categories {
    display: center;
    h4 {
      color: aliceblue;
      margin-top: 7px;
    }
  }
}
