.user-register-detail-background {
  background-image: url("user-register-details.jpg");
  height: 900px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.user-register-detail-row {
  margin: 0;
}

h2.complete-header {
  padding-top: 110px;
  text-align: center;
  color: aliceblue;
  @media (max-width: 960px) {
    padding-top: 70px;
  }
}

.user-register-detail {
  display: flex;
  justify-content: center;
  padding: 20px;
  h3 {
    color: aliceblue;
    margin-top: 7px;
    text-align: center;
  }

  button {
    margin-top: 10px;
  }
}
