.editor-wrapper {
  margin: 0;
  padding-top: 70px;
  .heading {
    text-align: center;
  }
  .editor-frame {
    border: 2px solid;
    border-radius: 8px;
  }
  .title-wrapper {
    text-align: center;
  }
  .button-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
