<div class="owl-carousel active-stories-carousel owl-theme owl-loaded">
  <div class="owl-stage-outer">
    <div
      class="owl-stage"
      style="transform: translate3d(-1319px, 0px, 0px); transition: all 0s ease 0s; width: 4616.5px;"
    >
      <div class="owl-item cloned" style="width: 329.75px; margin-right: 0px;">
        <div
          class="single-stories-carousel d-flex align-items-center"
          style="height: 100%;"
        >
          <div class="stories-thumb">
            <img
              class="img-fluid"
              src="img/posts/carousel/stories3.jpg"
              alt=""
            />
          </div>
          <div class="stories-details">
            <h6><a href="">2nd Gen Smoke Alarm get up from sleep</a></h6>
            <p>March 14, 2018</p>
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 329.75px; margin-right: 0px;">
        <div
          class="single-stories-carousel d-flex align-items-center"
          style="height: 100%;"
        >
          <div class="stories-thumb">
            <img
              class="img-fluid"
              src="img/posts/carousel/stories4.jpg"
              alt=""
            />
          </div>
          <div class="stories-details">
            <h6><a href="">2nd Gen Smoke Alarm get up from sleep</a></h6>
            <p>March 14, 2018</p>
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 329.75px; margin-right: 0px;">
        <div
          class="single-stories-carousel d-flex align-items-center"
          style="height: 100%;"
        >
          <div class="stories-thumb">
            <img
              class="img-fluid"
              src="img/posts/carousel/stories5.jpg"
              alt=""
            />
          </div>
          <div class="stories-details">
            <h6><a href="">2nd Gen Smoke Alarm get up from sleep</a></h6>
            <p>March 14, 2018</p>
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 329.75px; margin-right: 0px;">
        <div
          class="single-stories-carousel d-flex align-items-center"
          style="height: 100%;"
        >
          <div class="stories-thumb">
            <img
              class="img-fluid"
              src="img/posts/carousel/stories6.jpg"
              alt=""
            />
          </div>
          <div class="stories-details">
            <h6><a href="">2nd Gen Smoke Alarm get up from sleep</a></h6>
            <p>March 14, 2018</p>
          </div>
        </div>
      </div>
      <div class="owl-item active" style="width: 329.75px; margin-right: 0px;">
        <div
          class="single-stories-carousel d-flex align-items-center"
          style="height: 100%;"
        >
          <div class="stories-thumb">
            <img
              class="img-fluid"
              src="img/posts/carousel/stories1.jpg"
              alt=""
            />
          </div>
          <div class="stories-details">
            <h6><a href="">2nd Gen Smoke Alarm get up from sleep</a></h6>
            <p>March 14, 2018</p>
          </div>
        </div>
      </div>
      <div class="owl-item active" style="width: 329.75px; margin-right: 0px;">
        <div
          class="single-stories-carousel d-flex align-items-center"
          style="height: 100%;"
        >
          <div class="stories-thumb">
            <img
              class="img-fluid"
              src="img/posts/carousel/stories2.jpg"
              alt=""
            />
          </div>
          <div class="stories-details">
            <h6><a href="">2nd Gen Smoke Alarm get up from sleep</a></h6>
            <p>March 14, 2018</p>
          </div>
        </div>
      </div>
      <div class="owl-item active" style="width: 329.75px; margin-right: 0px;">
        <div
          class="single-stories-carousel d-flex align-items-center"
          style="height: 100%;"
        >
          <div class="stories-thumb">
            <img
              class="img-fluid"
              src="img/posts/carousel/stories3.jpg"
              alt=""
            />
          </div>
          <div class="stories-details">
            <h6><a href="">2nd Gen Smoke Alarm get up from sleep</a></h6>
            <p>March 14, 2018</p>
          </div>
        </div>
      </div>
      <div class="owl-item active" style="width: 329.75px; margin-right: 0px;">
        <div
          class="single-stories-carousel d-flex align-items-center"
          style="height: 100%;"
        >
          <div class="stories-thumb">
            <img
              class="img-fluid"
              src="img/posts/carousel/stories4.jpg"
              alt=""
            />
          </div>
          <div class="stories-details">
            <h6><a href="">2nd Gen Smoke Alarm get up from sleep</a></h6>
            <p>March 14, 2018</p>
          </div>
        </div>
      </div>
      <div class="owl-item" style="width: 329.75px; margin-right: 0px;">
        <div
          class="single-stories-carousel d-flex align-items-center"
          style="height: 100%;"
        >
          <div class="stories-thumb">
            <img
              class="img-fluid"
              src="img/posts/carousel/stories5.jpg"
              alt=""
            />
          </div>
          <div class="stories-details">
            <h6><a href="">2nd Gen Smoke Alarm get up from sleep</a></h6>
            <p>March 14, 2018</p>
          </div>
        </div>
      </div>
      <div class="owl-item" style="width: 329.75px; margin-right: 0px;">
        <div
          class="single-stories-carousel d-flex align-items-center"
          style="height: 100%;"
        >
          <div class="stories-thumb">
            <img
              class="img-fluid"
              src="img/posts/carousel/stories6.jpg"
              alt=""
            />
          </div>
          <div class="stories-details">
            <h6><a href="">2nd Gen Smoke Alarm get up from sleep</a></h6>
            <p>March 14, 2018</p>
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 329.75px; margin-right: 0px;">
        <div
          class="single-stories-carousel d-flex align-items-center"
          style="height: 100%;"
        >
          <div class="stories-thumb">
            <img
              class="img-fluid"
              src="img/posts/carousel/stories1.jpg"
              alt=""
            />
          </div>
          <div class="stories-details">
            <h6><a href="">2nd Gen Smoke Alarm get up from sleep</a></h6>
            <p>March 14, 2018</p>
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 329.75px; margin-right: 0px;">
        <div
          class="single-stories-carousel d-flex align-items-center"
          style="height: 100%;"
        >
          <div class="stories-thumb">
            <img
              class="img-fluid"
              src="img/posts/carousel/stories2.jpg"
              alt=""
            />
          </div>
          <div class="stories-details">
            <h6><a href="">2nd Gen Smoke Alarm get up from sleep</a></h6>
            <p>March 14, 2018</p>
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 329.75px; margin-right: 0px;">
        <div
          class="single-stories-carousel d-flex align-items-center"
          style="height: 100%;"
        >
          <div class="stories-thumb">
            <img
              class="img-fluid"
              src="img/posts/carousel/stories3.jpg"
              alt=""
            />
          </div>
          <div class="stories-details">
            <h6><a href="">2nd Gen Smoke Alarm get up from sleep</a></h6>
            <p>March 14, 2018</p>
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 329.75px; margin-right: 0px;">
        <div
          class="single-stories-carousel d-flex align-items-center"
          style="height: 100%;"
        >
          <div class="stories-thumb">
            <img
              class="img-fluid"
              src="img/posts/carousel/stories4.jpg"
              alt=""
            />
          </div>
          <div class="stories-details">
            <h6><a href="">2nd Gen Smoke Alarm get up from sleep</a></h6>
            <p>March 14, 2018</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="owl-controls">
    <div class="owl-nav">
      <div class="owl-prev" style="display: none;">prev</div>
      <div class="owl-next" style="display: none;">next</div>
    </div>
    <div class="owl-dots" style="display: none;"></div>
  </div>
</div>
