.login-background {
  height: 800px;
  width: 100%;
  background-image: url("login-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.login-row {
  margin: 0px;
}

.login {
  h2 {
    margin-top: 100px;
    text-align: center;
    color: aliceblue;
    @media (max-width: 961px) {
      margin-top: 50px;
    }
  }
}

.login-button {
  margin-top: 10px;
}
