.login-background {
  width: 100%;
  background-image: url("login-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.login-row {
  margin: 0px;
}

.login {
  h2 {
    margin-top: 100px;
    text-align: center;
    color: aliceblue;
  }

  .modal-content {
    .modal-header {
      color: #7c32ff;
      margin-top: 20px;
    }
  }
}

.login-button {
  margin-top: 10px;
}
